<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{!-- Stripe JavaScript, we need this to allow users to not need to go to stripe webpage to make payment --}}
    <script src = "https://js.stripe.com/v3"></script> 
    <script>
        // Create a Stripe object with our publishable key as argument
        const stripe = Stripe("{{publishableKey}}")
        stripe.redirectToCheckout({
            sessionId: "{{sessionId}}"
        })
    </script>
</body>
</html>